<h2>New User</h2>
<h3><%= date %></h3>
<p><%= notes %></p>
<p><%= time %></p>
<p><%= row1_targetTemp %></p>
<p><%= row1_actualTemp %></p>
<p><%= row1_meatTemp %></p>
<p><%= row1_ambientTemp %></p>
<p><%= row1_actions %></p>
<p><%= finishing_serving %></p>
<p><%= finished_product %></p>
<p><%= next_time %></p>
