<h2>New User</h2>
<h3><%= date %></h3>
<p><%= notes %></p>
<p><%= time %></p>
<p><%= targetTemp %></p>
<p><%= actualTemp %></p>
<p><%= meatTemp %></p>
<p><%= ambientTemp %></p>
<p><%= actions %></p>
<p><%= finishing_serving %></p>
<p><%= finished_product %></p>
<p><%= next_time %></p>
