<h2>New User</h2>
<h3><%= date %></h3>
<p><%= notes %></p>
<p><%= time %></p>
<p><%= row1_targetTemp %></p>
<p><%= row1_actualTemp %></p>
<p><%= row1_meatTemp %></p>
<p><%= row1_ambientTemp %></p>
<p><%= row1_actions %></p>

<p><%= row2_targetTemp %></p>
<p><%= row2_actualTemp %></p>
<p><%= row2_meatTemp %></p>
<p><%= row2_ambientTemp %></p>
<p><%= row2_actions %></p>

<p><%= row3_targetTemp %></p>
<p><%= row3_actualTemp %></p>
<p><%= row3_meatTemp %></p>
<p><%= row3_ambientTemp %></p>
<p><%= row3_actions %></p>

<p><%= row4_targetTemp %></p>
<p><%= row4_actualTemp %></p>
<p><%= row4_meatTemp %></p>
<p><%= row4_ambientTemp %></p>
<p><%= row4_actions %></p>

<p><%= row5_targetTemp %></p>
<p><%= row5_actualTemp %></p>
<p><%= row5_meatTemp %></p>
<p><%= row5_ambientTemp %></p>
<p><%= row5_actions %></p>

<p><%= row6_targetTemp %></p>
<p><%= row6_actualTemp %></p>
<p><%= row6_meatTemp %></p>
<p><%= row6_ambientTemp %></p>
<p><%= row6_actions %></p>

<p><%= row7_targetTemp %></p>
<p><%= row7_actualTemp %></p>
<p><%= row7_meatTemp %></p>
<p><%= row7_ambientTemp %></p>
<p><%= row7_actions %></p>

<p><%= row8_targetTemp %></p>
<p><%= row8_actualTemp %></p>
<p><%= row8_meatTemp %></p>
<p><%= row8_ambientTemp %></p>
<p><%= row8_actions %></p>

<p><%= row9_targetTemp %></p>
<p><%= row9_actualTemp %></p>
<p><%= row9_meatTemp %></p>
<p><%= row9_ambientTemp %></p>
<p><%= row9_actions %></p>

<p><%= row10_targetTemp %></p>
<p><%= row10_actualTemp %></p>
<p><%= row10_meatTemp %></p>
<p><%= row10_ambientTemp %></p>
<p><%= row10_actions %></p>

<p><%= row11_targetTemp %></p>
<p><%= row11_actualTemp %></p>
<p><%= row11_meatTemp %></p>
<p><%= row11_ambientTemp %></p>
<p><%= row11_actions %></p>

<p><%= row12_targetTemp %></p>
<p><%= row12_actualTemp %></p>
<p><%= row12_meatTemp %></p>
<p><%= row12_ambientTemp %></p>
<p><%= row12_actions %></p>

<p><%= row13_targetTemp %></p>
<p><%= row13_actualTemp %></p>
<p><%= row13_meatTemp %></p>
<p><%= row13_ambientTemp %></p>
<p><%= row13_actions %></p>

<p><%= row14_targetTemp %></p>
<p><%= row14_actualTemp %></p>
<p><%= row14_meatTemp %></p>
<p><%= row14_ambientTemp %></p>
<p><%= row14_actions %></p>

<p><%= row15_targetTemp %></p>
<p><%= row15_actualTemp %></p>
<p><%= row15_meatTemp %></p>
<p><%= row15_ambientTemp %></p>
<p><%= row15_actions %></p>

<p><%= finishing_serving %></p>
<p><%= finished_product %></p>
<p><%= next_time %></p>
